

/* header  */

.nav-links ul li a {
  color:  black;
}

.hamburger{
  color: black;
}



.cart-items{
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;

}
.cart-items img{
  border-radius: 10px;
}
.shopping-title{
  font-size: 3rem;
  padding: 2rem ;
  margin-bottom: 3rem;
  color: #007BFF;
}

.product-title{
  font-size: 1.8rem;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.details .product{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-summary{
  display: flex;
  gap: 3rem;
  align-items: end;
}

.cart-summary button{
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.quantity{
  background-color: rgb(174, 173, 173);
  width: 130px;
  height: 40px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .34rem ;

}
.quantity .dec{
  font-size: 2.5rem;
  cursor: pointer;
}
.quantity .inc{
  font-size: 2rem;
  cursor: pointer;
}
.quantity .num{
  font-size: 1.5rem;
}

.calculate{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.cart-section{
  margin-bottom: 5rem;
}




@media (max-width: 1080px) {
  
  .cart-items{
    display: flex;
    flex-direction: column;
  }

  .cart-items img{
    width: 70%;
    margin-bottom: 2rem;
  }
  .details{
    gap: 3rem;
  }
  .price{
    margin-top: 5px;
  }
  .shopping-title{
    font-size: 2.2rem;
  }
}


@media (max-width: 768px) {
  .nav-links ul li a {
    color:  white;
  }
  .hamburger.active{
    color: white;
  }

  .cart-summary{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

}