/* header  */

.nav-links ul li a {
    color: black;
}

.hamburger {
    color: black;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
}

.contact-info form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* heading text  */

.heading {
    margin-bottom: 5rem;
}

.heading h1 {
    text-align: center;
    font-size: 4rem;
    color: #007BFF;
    text-transform: uppercase;
}

.heading p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;

}


/* form  */

form .name {
    display: flex;
    justify-content: space-between;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

form .form-group input,
textarea {
    border: none;
    background-color: #007bff3b;
    padding: 1rem 2rem;
    border-radius: 22px;


}

form select {
    width: 8rem;
    height: 2rem;
    border-radius: 12px;
    background-color: #007bff3b;
    border: none;
    padding: 6px 12px
}

form label {
    margin-bottom: .3rem;
    margin-left: .1rem;
    font-weight: 500;
}

form input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.email-icon {
    width: 40%;

}

.email-icon img {
    opacity: .2;
    height: 80%;
    margin-top: .2rem;

}


@media (max-width: 1080px) {
    .email-icon {
        display: none;
    }

    form .name {
        flex-direction: column;
        gap: 1rem;

    }

    .contact-info form {
        width: 100%;
        margin-bottom: 3rem;
    }

    .heading h1 {
        font-size: 3rem;
    }

    .heading p {
        font-size: 1.2rem;
        padding: 1rem 2rem;

    }
}

@media (max-width: 768px) {
    .nav-links ul li a {
        color: white;
    }

    .hamburger.active {
        color: white;
    }

    .contact-info {
        padding: 1rem 1rem;
    }
}