* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
}


/*background*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(98, 103, 133, 0.7), rgba(4, 9, 30, 0.7)), url(images/MicrosoftTeams-image.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}



.logo {
    width: 7rem;

}

/*navigation bar*/
nav {
    display: flex;
    padding: 1.5% 2%;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;

}

.hamburger {
    display: none;
}

/* handle active menus  */

.nav-links ul li a.active::after {
    content: '';
    width: 100%;
    height: 2.5px;
    background: #0097B2;
    display: block;
    margin: auto;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0097B2;
    display: block;
    margin: auto;
    transition: width 0.5s;
}

/* Hover state */
.nav-links ul li a:hover::after {
    width: 100%;
}

/* Active state without transition */
.nav-links ul li a.active::after {
    width: 100%;
    transition: none;
}


.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -21px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*Navigation letter colour*/
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}



/*text box position and colour*/
.text-box {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/*header text size*/
.text-box h1 {
    font-size: 4rem;
}

/*p1 text size*/
.text-box p {
    margin: 10px 0 40px;
    font-size: 1rem;
    margin-top: 1rem;
    color: #fff;
}

/*SHOP NOW block*/
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #0097B2;
    background: #0097B2;
    transition: 1s;
}




/* footer  */
footer {
    background-color: whitesmoke;
    padding: 2% 2%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;

}

.copyright-container {
    text-align: center;
    margin-top: 35px;
    padding: 5px 15px;


}

.copyright {
    opacity: .5;
}




.left h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.left ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    padding-left: 10px;
}

.left ul li {
    list-style: none;
}

.left ul li a {
    text-decoration: none;
    list-style: none;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a img {
    width: 2.8rem;

}

.social h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

.social a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.social-links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;

}


/* Product Section */
.product-highlight {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.product-highlight h1 {
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.product-image img {
    width: 35vw;
    height: auto;
    border-radius: 10px;
}

.product-description {
    margin-left: 40px;
    width: 50%;
    height: 100%;
}

.product-description h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.product-description p {
    font-size: 1.2rem;
    margin-bottom: 15px;

}

.price {
    font-size: 1.5em;
    color: #007BFF;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}






/* responsive css  */

@media(max-width: 1080px) {

    /* logo  */

    .logo {
        width: 8rem;

    }


    /* nav  */
    .nav-links ul li a {
        font-size: 1.2rem;
    }

    /*header text size*/
    .text-box h1 {
        font-size: 3.5rem;
    }


    /* products  */
    .product-highlight h1 {
        font-size: 3rem;

    }

    .product-description h2 {
        font-size: 2rem;
    }

    .product-description p {
        font-size: 1.1rem;

    }

    .product-image img {
        width: 32vw;
    }


    /* footer  */
    .left h3 {
        font-size: 1.8rem;
    }

    .social h3 {
        font-size: 1.8rem;
    }

    .social a img {
        width: 2.4rem;

    }

}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        width: 6rem;
        margin-top: 1rem;

    }


    .nav-links {
        position: absolute;
        transition: transform 0.5s ease-out;
        transform: translateX(100%);
        background-color: black;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: block;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        z-index: 999;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-items: center;
        align-items: center;
    }

    .nav-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }


    /*header text size*/
    .text-box h1 {
        font-size: 3rem;
    }

    /* product highlight  */
    .product-highlight {
        padding: 30px 5px;
        width: 100%;
    }

    .product-highlight h1 {
        font-size: 2.5rem;
    }

    .product-container {
        flex-direction: column;
        width: 100%;
    }

    .product-description {
        width: 90%;
        text-align: center;
        margin-left: 0;
    }

    .product-description h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
        width: 100%;
    }

    .product-description p {
        font-size: 1.1rem;

    }

    .price {
        margin-top: 15px;
    }

    .product-image img {
        width: 100%;
    }



    /* footer  */
    footer {
        margin-top: 2rem;
        padding: 30px 3px;
    }

    .left h3 {
        font-size: 1.2rem;
    }

    .social h3 {
        font-size: 1.2rem;
    }

    .social a img {
        width: 2rem;

    }

}